{% extends 'polls/base.html' %}

{% block content %}
{% load static %}

<!-- Include the custom styles -->
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<div class="question-card">
    <h1 class="mb-4">{{ question.question_text }}</h1>
    <form method="post" action="{% url 'polls:vote' question.id %}">
        {% csrf_token %}
        <ul class="list-group">
            {% for choice in question.choice_set.all %}
            <li class="list-group-item">
                <label class="form-check-label">
                    <input type="radio" name="choice" value="{{ choice.id }}" class="form-check-input">
                    {{ choice.choice_text }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-primary mt-3">Votar</button>
    </form>
    <a href="{% url 'polls:question_list' %}" class="btn btn-secondary mt-3">Volver a la Lista de Preguntas</a>
</div>
{% endblock %}